/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-typography {
  background-image: url("https://i.pinimg.com/originals/d4/4d/ce/d44dced280a3ccda75e2b9a17551af9c.jpg");
  background-size: auto;
  background-position: center;
}
