<h1 mat-dialog-title>Área de cadastro</h1>

<mat-form-field class="example-full-width">
  <mat-label>Nome</mat-label>
  <input matInput [(ngModel)]="data.nome">
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>Cidade</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>Bairro</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>Endereço</mat-label>
  <input matInput>
</mat-form-field>

<div mat-dialog-actions>
  <button mat-button class="cadastro">Cadastrar</button>
  <button mat-button class="limpar">Limpar</button>
  <button mat-button class="atualizar">Atualizar</button>
  <button mat-button class="fechar" [mat-dialog-close]="data">Fechar</button>
</div>


