<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Example icon-button with menu icon"[matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    <mat-menu #menu="matMenu"><!--ADICIONADO COMPONENTES (MENU) DENTRO DO COMPONENTE TOOLBAR
                                     -->
      <button mat-menu-item (click)="openDialog()">Mensagem</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </button>
  <span>My app</span>
  <span class="example-spacer"></span>
  <!-- RETIRADO A CLASS PADRÃO QUE O HTML GEROU PARA OS BOTÕES -->
  <button mat-icon-button aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
